*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
  width: 80%;
  height: 600px;
  margin: 100px auto;
  border: 2px solid black;
}
.container h2{
  text-align: center;
}

.container nav{
  border: 1px solid black;
  margin: 10px 50px;
  padding: 20px;
  text-align: center;
}
.container nav h4{
  font-weight: 600;
}
.main-content {
  width: 100%;
  margin: 10px 50px;
}
.main-content article {
  border: 1px solid black;
  width: 25%;
  float: left;
  margin-right: 20px;
}
.main-content article ul li{
  list-style: none;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
}
.main-content main {
  border: 2px solid #c1fec2;
  width: 59%;
  float: left;
  height: 300px;
  padding: 20px;
}
.main-content main ul li{
  list-style: none;
  border: 1px solid black;
  width: 150px;
  display: inline;
  
}
.main-content main h2{
  margin-bottom: 50px;
}